<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
  <div class="row">
    <div class="col-md-5">
      <form id="form">
        <div class="form-group">
          <label for="title">标题</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
          <label for="content">内容</label>
          <textarea class="form-control" id="content" name="content" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-default">提交</button>
      </form>
    </div>
  </div>
</section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script>
    $('#form').on('submit', handleSubmit)

    function handleSubmit(e) {
      e.preventDefault()
      var formData = $(this).serialize()
      $.post('/topic/create', formData, function (data) {
        console.log(data)
      })
    }
  </script>
</body>

</html>
