<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/logo3.png" alt="">
      </a>
      <h1>用户登录</h1>
    </div>
    <form id="signin_form">
      <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <a class="pull-right" href="">忘记密码？</a>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">记住我
        </label>
      </div>
      <button type="submit" class="btn btn-success btn-block">登录</button>
    </form>
    <div class="message">
      <p>没有账号? <a href="/signup">点击创建</a>.</p>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    $('#signin_form').submit(function (e) {
      // 取消表单的默认行为
      e.preventDefault();
      // TODO 表单验证

      // 获取表单数据
      // email=123@11.cn&password=123
      // var data = $(this).serialize();

      
      var data = {
        email: $('#email').val(),
        password: $('#password').val()
      }
      // 传对象的时候，jQuery的方法，会自动把对象转换成email=123@11.cn&password=123形式
      // console.log(data);
      $.post('/signin', data, function (resData) {
        // console.dir(resData);
        // { code: 200, msg: '' }

        var { code, msg } = resData;
        if (code === 200) {
          location.href = '/';
        } else {
          alert(msg);
        }
      });
    });
  </script>
</body>

</html>
